/*CSS global, fix lỗi unknow Element trên trình duyệt chưa cập nhật*/
header, section, footer, aside, nav, main,article, figure{
    display: block;
}
/*Trang web sát vìa và apply cho toàn bộ web*/
body {
    margin:0% 
}
/* Sử dụng 1 rem bằng 20px khai báo trên thẻ html*/
html{
    font-size: 20px;
}
h1{
    margin: 0%;
}
a{
    text-decoration: none;
}
/*Tất cả các thẻ trong web sử dụng thuộc tính box-sizing:borderbox
*/
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*CSS padding dùng chung*/
.section_padding{
    width: 80%;
    margin: auto;
}
/*-------------------------------------------------------*/


/*Header CSS*/
header{
    background-color:#4e2a84;

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline;
    list-style: none;
    padding: 20px;
    margin-right: -1%;
}
nav ul li:hover{
    background-color: #b64fc8;

}
header a {
    color: white;
}
/*-------------------------------------------------------*/

/*Carosel*/
.carosel{
    background-image: linear-gradient(rgba(65, 63, 63, 0.637), rgba(65, 63, 63, 0.637)),url("../img/backgroundcake.jpeg");
    background-position: center;
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carosel__content{
    text-align: center;
    color: white;
}
.carosel__content h1{
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Staatliches', cursive;
}
.carosel__content p{
    font-size: 0.8rem;
    padding: 0%;
}
.carosel__button{
    background-color: #ba68c8;
    padding: 15px;
    border: 2px solid #ba68c8 ;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}
.carosel__button:hover{
    background-color: transparent;
}
.carosel__button{
    cursor: pointer;
}
/*-------------------------------------------------------*/
/*Grid div*/

.intro{
    display: grid;
    grid-template-columns: repeat(4,1fr); /*Chia thẻ các thẻ section thành 4 vùng div, mỗi vùng 1 fr*/
}
.intro_item{
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}
.intro_item img {
    max-width: 100%;
    display: block;
}
.intro-img1{
    grid-column: 2/span 2; /*Gom 2 cột*, số đầu tiên là số cột mà vị trí ảnh đang nằm, số thứ 2 là số cột muốn gom*/
}
.intro-best{
    grid-column: 1/span 2;
    background-color: #ffb2ff;
}
.intro-img3{
    background-position: -55px -90px;
}
.intro-img4{
    grid-column: 3/span 2;
    width: 100%;
    display: block;
}
.intro-tradition{
    background-color: #9e00c5;
}
.intro-creative{
    background-color: #ff5bff;
}
.intro-quality{
    background-color: #ed6498;
}
.intro-cakes{
    background-color: #9e00c5; 
}

/*-------------------------------------------------------*/
/*Infor CSS*/
.infor__static{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infor__static__items{
    text-align: center;
    font-weight: 600;
}
.infor__static__items p{
    font-size: 1.5rem;
    color: #9e00c5;
}
.infor__video{
    display: flex;
    margin-top: 2rem;
}
.infor__video_mp4,.infor__video_nhung {
    width: 50%;
    padding: 0 0.5rem;
}
.infor__video_mp4 video,.infor__video_nhung iframe{
    width: 100%;
    height: 100%;
}
/*-------------------------------------------------------*/
/*TEAM CSS*/
.team{
    background-color: #4e2a84;
}
.team > h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
}
.teamlead {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
.team-items{
    position: relative;
}
.team-items > img {
    display: block;
    width: 100%;
}
.team-items-content{
    background-color:#ed6498;
    color: white;
    padding: 0.5rem 1rem;
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 20%;
    text-align: center;
}
.team-items-content > p{
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 2rem;
}
.team-items-content span{
    font-size: 1.3rem;
}

/*-------------------------------------------------------*/
/*CONTACT CSS*/
.contact > h1 {
    text-align: center;
    font-size: 2rem ;
    font-weight: 600;
    padding: 2%;
}
.contact-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}
.form-control{
    width: 100%;
    border: 1px solid black;
    padding: 0.5rem 0.5rem;
    display: block;
    margin-bottom: 1rem;
    border-radius: 3px;
}
.contact__form__group2{
    grid-column: 1/span 2;
}
.btn-submit{
    width: 100%;
    display: block;
}